.tours-layout {
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
            width: 30%;
            float: left;
            margin: 0 15px;
            height: 500px;
            margin-bottom: 50px;
}

.tours-layout .image-wrapper {
    position: relative;

    overflow: hidden;
}

.tours-layout .image-wrapper .link {
    display: block;

    width: 100%;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

.tours-layout .image-wrapper .link img {
    width: 100%;

    -webkit-transition: all .8s ease;
       -moz-transition: all .8s ease;
         -o-transition: all .8s ease;
            transition: all .8s ease;
}

.tours-layout .image-wrapper .link:before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 120%;

    content: '';
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .5) 70%, rgba(0, 0, 0, .6) 75%, rgba(0, 0, 0, .7) 85%, rgba(0, 0, 0, .8) 90%, rgba(0, 0, 0, .9) 100%);
}

.tours-layout .image-wrapper .title-wrapper {
    font-size: 20px;

    position: absolute;
    z-index: 5;
    right: 20px;
    bottom: 20px;
    left: 20px;

    display: inline-block;

    color: #ffffff;
}

.tours-layout .image-wrapper .title-wrapper .title {
    font-weight: bold;

    position: relative;

    float: left;

    text-transform: uppercase;

    color: #ffffff;
}

.tours-layout .image-wrapper .title-wrapper .title:before {
    position: absolute;
    top: 100%;
    left: 0;

    width: 0;
    height: 1px;

    content: '';
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

.tours-layout .image-wrapper .title-wrapper .title:hover:before {
    width: 100%;
}

.tours-layout .image-wrapper .title-wrapper .icons {
    font-size: 30px;

    float: right;
}

.tours-layout .content-wrapper {
    background-color: #ffffff;
}

.tours-layout .content-wrapper .list-info {
    display: table;

    width: 100%;
    margin: 0;

    text-align: center;

    border-collapse: collapse;
    border-bottom: 1px solid #e9e9e9;
}

.tours-layout .content-wrapper .list-info li {
    display: table-cell;

    padding: 0;

    border-right: 1px solid #e9e9e9;
}

.tours-layout .content-wrapper .list-info li .link {
    position: relative;
    top: 0;
    right: 0;

    display: block;

    padding: 12px 0;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}

.tours-layout .content-wrapper .list-info li .link:hover {
    top: 4px;
    right: -4px;
}

.tours-layout .content-wrapper .list-info li .link:hover > .icons,
.tours-layout .content-wrapper .list-info li .link:hover > .text {
    color: #555555;
}

.tours-layout .content-wrapper .list-info li .link > .icons {
    display: inline-block;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    color: #d0d0d0;
}

.tours-layout .content-wrapper .list-info li .link > .text {
    display: inline-block;

    margin-bottom: 0;
    margin-left: 10px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    color: #959595;
}

.tours-layout .content-wrapper .list-info li:last-child {
    border-right: none;
}

.tours-layout .content-wrapper > .content {
    padding: 40px;

    text-align: center;
}

.tours-layout .content-wrapper > .content .title {
    margin-bottom: 15px;
}

.tours-layout .content-wrapper > .content .title .price {
    display: inline-block;
}

.tours-layout .content-wrapper > .content .title .price sup {
    font-size: 14px;
    font-weight: bold;

    top: -12px;
    left: -2px;
}

.tours-layout .content-wrapper > .content .title .price .number {
    font-size: 30px;
    font-weight: bold;
    color: $brandColor;
}

.tours-layout .content-wrapper > .content .title .for-price {
    display: inline-block;

    margin-bottom: 0;
    margin-left: 6px;
}

.tours-layout .content-wrapper > .content > .text {
    margin-bottom: 20px;
}

.tours-layout .content-wrapper > .content .group-btn-tours {
    display: inline-block;

    padding: 0;

    text-align: center;
    text-transform: capitalize;

    color: #ffffff;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}

.tours-layout .content-wrapper > .content .group-btn-tours .left-btn,
.tours-layout .content-wrapper > .content .group-btn-tours .right-btn {
    display: inline-block;

    padding: 4px 10px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    color: #ffffff;
    background-color: #4d4d4d;
}

.tours-layout .content-wrapper > .content .group-btn-tours .left-btn:hover,
.tours-layout .content-wrapper > .content .group-btn-tours .right-btn:hover {
    color: #fff;
    background: $brandColor;
}

.tours-layout .content-wrapper > .content .group-btn-tours .left-btn {

    border-right: 1px solid #797979;
border-radius: 50px;
padding: 8px 20px;
text-decoration: none;

}

.tours-layout .content-wrapper > .content .group-btn-tours .right-btn {
    padding-right: 25px;

    border-radius: 0 50px 50px 0;
}

.tours-layout .content-wrapper > .content .group-btn-tours:hover .left-btn {
    border-right: 1px solid  #ffffff;
}

.tours-layout:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
}

.tours-layout:hover .image-wrapper .link {
    -webkit-filter: blur(1px);
    //-webkit-filter: url(../images/blur.svg);
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
            filter: blur(1px);
            //filter: url(../images/blur.svg);
}

.tours-layout:hover .image-wrapper .link img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

.tours-layout:hover .image-wrapper .link:before {
    top: -20%;
}
